################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tracker/v16
/.vs/Tracker
/Tracker/bin/Debug/netcoreapp2.1
/.vs
/Tracker/obj/Release/netcoreapp2.1
